{% extends "base.html" %}
{% block containercontent %}
<p class="lead">Welcome to TeleTweet.</p>
<div class="hero-unit">
    <p>This is the <a href="https://t.me/tele_tweetbot" target="_blank"> Telegram Bot </a>
		that will connect you from Telegram to Twitter.
        Source code is publicly available at <a href="https://github.com/tgbot-collection/TeleTweet">GitHub</a>.
    </p>
	<p><strong>This service is still under actively development.</strong></p>

</div>
<p>Right now, please click this button for login with Twitter.</p>
<a href="/step1" class="btn btn-small btn-success">Let's Go</a>
{% end %}